In [1]:
import pandas as pd

In [2]:
#Q1
df = pd.DataFrame(
    {
        "A": [1, 3, 5],
        "B": [2, 4, 6]
    }
)

df

   A  B
0  1  2
1  3  4
2  5  6

In [4]:
#Q2
recipes.iloc[len(df)-1, 0]

5

In [5]:
df.iloc[0, len(df.columns)-1]

2