In [2]:
import pandas as pd

In [12]:
#Q1
df = pd.DataFrame(
    {
        "A": [1, 3, 5],
        "B": [2, 4, 6],
        "C": [9, 4, 11],
        "D": [5, 1, 2]
    }
)

df

   A  B   C  D
0  1  2   9  5
1  3  4   4  1
2  5  6  11  2

In [4]:
#Q2
recipes.iloc[len(df)-1, 0]

NameError: name 'recipes' is not defined

In [5]:
df.iloc[0, len(df.columns)-1]

2

In [13]:
df.iloc[ : , int(len(df.columns)/2):len(df.columns)]

    C  D
0   9  5
1   4  1
2  11  2

In [17]:
df.iloc[:, 2:4]

    C  D
0   9  5
1   4  1
2  11  2