In [1]:
import pandas as pd

In [2]:
chores = pd.DataFrame({
    "A": [1,5,3,2],
    "B": [9,9,7,1],
    "C": [0,2,5,10]
})

In [3]:
chores.iloc[len(chores)-1, len(chores.columns)-1]

10

In [4]:
chores.iloc[-1,-1]

10

In [8]:
chores.iloc[ : , int(len(chores.columns)/2):len(chores.columns)]

   B   C
0  9   0
1  9   2
2  7   5
3  1  10

In [ ]:
df[df.loc[:, "Smoker"]]